.container-fluid.section-one {
  position: relative;
  z-index: 1;
}

nav {
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
  z-index: 10;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
  color: transparent;
}

a {
  font-family: "Open Sans", sans-serif;
}

p {
  color: #031121;
}

.section-one {
  padding: 0px;
  background: url(../img/atf-bg.svg);
  background-color: #2c3bc8;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  animation: bgposition 20s ease-in infinite;
}

.section-one row {
  padding-right: 50px;
  padding-left: 50px;
  margin: 0;
}

.section-one h1 {
  font-size: 67.34px;
  font-family: Montserrat, sans-serif;
  text-shadow: 1px 3px 0px rgba(255, 95, 17, 0.4);
}

h1.section-one-h1-1 {
  color: #fff;
}

.navbar-light .navbar-brand {
  color: transparent;
}

@media (max-width: 414px) {
  .atf-img {
    margin-top: 45px;
  }
}

.div-section-4 h2 {
  color: #fff;
}

.section-one-h1-2 {
  font-size: 67.34px;
  font-family: Montserrat, sans-serif;
  color: rgb(255, 255, 255);
}

.navbar-brand {
  margin-left: 40px;
}

.divi-blue {
  position: absolute;
  width: 100%;
  bottom: -30px;
  z-index: -1;
}

.section-two {
  padding-top: 150px;
  padding-bottom: 150px;
}

.brandstamp {
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}

@media (max-width: 414px) and (min-width: 320px) {
  .brandstamp {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar-brand {
    margin-left: 20px;
  }
}

@media (min-width: 1367px) {
  .brandstamp {
    padding-top: 100px;
  }
}

.section-two row {
  color: rgb(0, 0, 0);
}

.section-two img {
  width: 70px;
}

.section-two h5 {
  font-family: Montserrat, sans-serif;
  font-size: 21.33px;
  font-weight: 400;
}

.section-two p {
  font-family: "Open Sans", sans-serif;
}

.section-three {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  background-color: #fde8cf;
}

.section-three p {
  color: #000;
}

.why-go-mad-row {
  margin-left: 0;
  margin-right: 0;
  padding-right: 50px;
  padding-left: 50px;
}

.sec-3-img {
  padding-top: 200px;
}

.why-go-mad-col-2 {
  padding-left: 0;
  padding-top: 50px;
}
.why-go-mad-h2-1 {
  padding-top: 5em;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: -6px;
  font-size: 67px;
  margin-left: 50px;
  color: rgba(125, 45, 0, 0.27);
}

.why-go-mad-h2-2 {
  margin: 0px;
  margin-top: -47px;
  font-size: 50.52px;
  font-family: Montserrat, sans-serif;
}

h2 {
  font-weight: 400;
  color: #000;
}

h1 {
  font-weight: 100;
  text-transform: capitalize !important;
}

.why-go-mad-list {
  margin-left: 20px;
  color: #000;
}

.why-go-mad-list li {
  margin-bottom: 1.5px;
}

.why-go-mad-list img {
  width: 30px;
  margin-left: -20px;
  margin-top: -5px;
}

.our-mad-wdaas {
  padding-top: 100px;
  padding-bottom: 30px;
  font-family: Montserrat, sans-serif;
  font-size: 50.52px;
  font-weight: 200;
}

.wdaas-row {
  padding: 0px;
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
}

.wdaas-row h4 {
  color: #fff;
  font-size: 600;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.wdaas-col {
  background: url(../img/our-mad-bg.svg);
  background-size: cover;
  background-color: #f55c11;
  height: 150px;
  padding-top: 20px;
}

.blockquote {
  padding-left: 0;
}

.wdaas-col h4 {
  font-size: 28.43px;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

.wdaas-col p {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

.wdaas-col-2 {
  background-color: #ffffff;
  height: 300px;
  padding-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 1920px) {
  .wdaas-col-2 {
    height: 250px;
  }
}

.wdaas-col-2 ul {
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  padding-left: 15px;
  padding-right: 15px;
}

.wdaas-col-2 img {
  width: 16px;
  margin-top: -2px;
}

.wdaas-col-2 .column-3 {
  background-color: #ffffff;
  height: 300px;
  padding-top: 20px;
}

.section-four {
  /* padding-top: 50px; */
  padding-bottom: 300px;
}

.div-section-4 {
  background: url(../img/cta-background.svg);
  background-size: cover;
  background-position: center center;
  width: auto;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.div-section-4 h2 {
  font-size: 50.52px;
  font-family: Montserrat, sans-serif;
}

.div-section-4 h3 {
  font-size: 37.9px;
  font-family: Montserrat, sans-serif;
  color: #ffffff;
}

.btn-primary {
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .divi-blue {
    bottom: -34px !important;
  }
}

.container-fluid.section-three {
  position: relative;
}

.divi-white-top {
  position: absolute;
  width: 100%;
  top: -5px;
  z-index: -10;
}

.divi-orange {
  position: absolute;
  bottom: -30px;
  width: 100%;
  left: 0px;
}

.container-fluid.section-three {
  z-index: -1;
}

.navbar.navbar-light.navbar-expand-md {
  position: absolute;
}

.navbar-light .navbar-toggler {
  display: none;
}

.container-fluid.section-five {
  position: relative;
}

.divi-white-top-2 {
  position: absolute;
  width: 100%;
  top: 0;
}

dl,
ol,
ul {
  list-style: none;
  text-indent: 0px;
}

p {
  margin-bottom: 5px;
}

.row {
  z-index: 199999999;
}

.text-center.wdaas-col {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.why-go-mad-list {
  line-height: 2.5em;
  padding-top: 30px;
}

.wdaas-col-2 {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.wdaas-col-2 li {
  padding-bottom: 0em;
}

.wdaas-col-2 img {
  margin-left: -20px;
}

.wdaas-col-2 ul {
  margin-left: 20px;
}

.wdaas-col-2.column-2 ul {
  margin-left: -5px;
}

.wdaas-col-2.column-3 ul {
  margin-left: 20px;
  padding-right: 15px;
}

.container.section-two h5 {
  padding-top: 15px;
}

.container.section-two img {
  margin-top: 15px;
}

/* .CTA {
  position: absolute;
  top: 0;
} */

/* .btn.btn-primary.main-cta {
  z-index: -1;
} */

.text-center.div-section-4 {
  border-radius: 50px;
}

.btn {
  border-radius: 5px;
  font-size: 16px;
  box-shadow: none;
  padding: 10px 30px 10px 30px;
}

.text-center.div-section-4 {
  max-width: 700px;
}

.sec-5-img {
  position: relative;
  z-index: 1;
}

.col.sec-5-col-2 {
  padding-right: 0px;
}

/* .btn.btn-primary.cta {
  position: absolute;
  z-index: 99;
  right: 0;
  top: 10px;
} */

/* .btn.btn-primary.cta {
  position: absolute;
  right: 50px;
  top: 25px;
} */

.section-five {
  padding-top: 0px;
  padding-bottom: 0px;
  /* background-color: #cddeff; */
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  height: auto;
  color: #000;
}

/* .testi-top-row {
  margin: 0px;
  padding-right: 50px;
  padding-left: 50px;
} */

.sec-5-img {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.divi-white-top-2 {
  width: 100%;
  margin-top: -1px;
}

.section-five h2 {
  font-size: 50.52px;
  font-family: Montserrat, sans-serif;
  padding-bottom: 40px;
  padding-top: 90px;
  color: #000;
}

.testi-row-1 {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 50px;
  padding-left: 50px;
}

.sec-5-col-1 {
  padding: 0px;
  padding-bottom: 0px;
  padding-right: 50px;
  position: relative;
}

.lane-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0 auto;
  transform: translateX(-50%, -50%);
}

.testi-row-1 img {
  width: 100%;
  margin: 0 auto;
  padding: 0px; /*padding-right: 0px;*/
  margin-right: 61px;
}

.testi-row-1 h5 {
  font-size: 21.33px;
  font-family: Montserrat, sans-serif;
  padding-bottom: 20px;
}

.blockquote p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #000;
}

.blockquote {
  border-left: none !important;
}

.blockquote-footer {
  font-family: "Open Sans", sans-serif;
  padding-top: 20px;
  color: #f55c11;
}

.sec-5-col-2 {
  padding: 0px;
}

.testi-row-2 {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 50px;
  padding-left: 50px;
}

.testi-row-2 h5 {
  font-size: 21.33px;
  font-family: Montserrat, sans-serif;
  padding-bottom: 20px;
}

@media (max-width: 1920px) and (min-width: 1367px) {
  .container-fluid.section-three {
    height: 2200px !important;
  }
}

@media (max-width: 1366px) and (min-width: 1025px) {
  .container-fluid.section-three {
    height: 1800px !important;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .container-fluid.section-three {
    height: 1700px !important;
  }
}

@media (max-width: 768px) and (min-width: 415px) {
  .container-fluid.section-three {
    height: 1700px !important;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .row.wdaas-row {
    display: flex;
    flex-direction: column;
  }
}

.sec-5-col-2 {
  padding: 0px;
  padding-right: 0px;
  padding-left: 50px;
}

.zenith-img {
  width: 100%;
  padding-left: 0px;
  font-family: "Open Sans", sans-serif;
}

.text-center.div-section-4 {
  padding-top: 100px;
  padding-bottom: 90px;
  transform: skewY(-13.8deg) !important;
}

@media (max-width: 414px) and (min-width: 320px) {
  .text-center.div-section-4 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.cta:hover {
  background-color: #021f5a;
  color: #fff !important;
  border-color: #021f5a;
}

.update-text h3 {
  text-shadow: 1px 2px 0px rgba(255, 255, 255, 0.212);
}

.sec-4-cta {
  background-color: transparent !important;
  border-color: #ffffff;
}

.sec-4-cta:hover {
  background-color: #ffffff !important;
  color: #054fe6;
  border-color: #fff;
}

.update-text {
  padding-top: 10px;
  transform: skewY(15deg);
}

@media (max-width: 320px) {
  .why-go-mad-col-2 {
    margin-top: -10em;
  }
}

@media (max-width: 375px) {
  .why-go-mad-col-2 {
    margin-top: -10em;
  }
}

@media (max-width: 360px) {
  .why-go-mad-row {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 414px) {
  .why-go-mad-col-2 {
    margin-top: -10em;
  }
}

@media (max-width: 320px) {
  .why-go-mad-row  {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

@media (max-width: 375px) {
  .why-go-mad-row  {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

@media (max-width: 414px) {
  .why-go-mad-row  {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

/* @media (max-width: 768px) {
  .row.why-go-mad-row {
    display: flex;
    flex-direction: column;
  }
} */

@media (max-width: 414px) {
  .container-fluid.section-three {
    height: 1900px !important;
  }
}

@media (max-width: 768px) and (min-width: 413px) {
  .container-fluid.section-three {
    height: 2500px !important;
  }
}

@media (max-width: 411px) and (min-width: 376px) {
  .container-fluid.section-three {
    height: 2500px !important;
  }
}

@media (max-width: 375px) and (min-width: 321px) {
  .container-fluid.section-three {
    height: 2500px !important;
  }
}

@media (max-width: 320px) {
  .container-fluid.section-three {
    height: 2500px !important;
  }
}

@media (max-width: 768px) {
  .why-go-mad-h2-1 {
    padding-top: 20px !important;
  }
}

@media (max-width: 414px) {
  .row.wdaas-row {
    padding: 20px !important;
  }
}

@media (max-width: 320px) {
  h2 {
    font-size: 10px !important;
  }
}

.wdaas-col-2.column-2 ul {
  margin-left: 25px;
}

@media (max-width: 414px) {
  .h3,
  h3 {
    font-size: 1.5em !important;
  }
}

@media (max-width: 414px) {
  h1 {
    font-size: 1em !important;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5em !important;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 2em !important;
    text-align: center;
  }

  h4 {
    font-size: 25px !important;
    font-size: 600;
    letter-spacing: 1px;
  }
}

@media (max-width: 414px) {
  .img-fluid.sec-3-img {
    padding-top: 0 !important;
    margin-top: -30px !important;
  }
}

@media (max-width: 414px) {
  .container-fluid.section-one {
    height: 800px;
    padding-top: 150px !important;
    padding-bottom: 50px !important;
  }
}

@media (max-width: 1024px) and (min-width: 767px) {
  .row.wdaas-row {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}

@media (max-width: 768px) {
  .container-fluid.section-five p,
  footer {
    font-size: 12px !important;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .section-one {
    padding: 0px;
    background-color: #054fe6;
    padding-top: 120px;
    padding-bottom: 150px;
  }
}

@media (max-width: 768px) {
  .container-fluid.section-five p,
  footer {
    font-size: 12px !important;
  }
}

.container-fluid.section-five p,
footer {
  font-size: 12px !important;
}

.container-fluid.section-five p,
footer {
  font-size: 16px !important;
}

@media (max-width: 768px) {
  .row.text-center.d-flex.testi-row-1 {
    display: flex;
    flex-direction: column;
  }
  .why-go-mad-h2-1 {
    padding-top: 0em !important;
  }
}

@media (max-width: 768px) {
  .img-fluid.zenith-img {
    padding-left: 0 !important;
  }
}

@media (max-width: 768px) {
  .img-fluid.lane-mitch-img {
    padding-right: 0 !important;
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .row.testi-top-row {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1920px) and (min-width: 1367px) {
  .container-fluid.section-five {
    height: auto !important;
  }
  .why-go-mad-col-2 {
    padding-top: 400px;
  }
}

@media (max-width: 1366px) and (min-width: 1025px) {
  .container-fluid.section-five {
    height: auto !important;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .container-fluid.section-five {
    height: auto !important;
  }
}

@media (max-width: 768px) and (min-width: 414px) {
  .container-fluid.section-five {
    height: auto !important;
  }
}

@media (max-width: 414px) {
  .container-fluid.section-five {
    height: auto !important;
  }

  .sec-5-img {
    margin-top: -55px;
  }
}

@media (max-width: 320px) {
  .container-fluid.section-five {
    height: 1800px !important;
  }

  .container-fluid.section-five {
    height: 2000px !important;
  }
}

@media (max-width: 768px) {
  .row.text-center.testi-row-2.flex-column-reverse.flex-md-row {
    display: flex;
    flex-direction: column-reverse !important;
  }
}

@media (min-width: 1024px) {
  .row.text-center.testi-row-2.flex-column-reverse.flex-md-row {
    padding-top: 100px;
  }
}

@media (min-width: 1366px) {
  .container-fluid.section-five h5 {
    padding-top: 50px;
  }
}

@media (min-width: 1366px) {
  .container-fluid.section-five h5 {
    padding-top: 50px;
  }
}

@media (min-width: 1366px) {
  .container-fluid.section-five h5 {
    padding-top: 50px;
  }
}

@media (min-width: 1366px) {
  .container-fluid.section-five h5 {
    padding-top: 50px;
  }
}

@media (min-width: 1920px) {
  .container-fluid.section-five h5 {
    padding-top: 100px;
  }
}

@media (max-width: 320px) {
  .navbar-brand {
    width: 43px !important;
    margin-top: 10px;
  }
}

@media (max-width: 320px) {
  .btn.btn-primary.cta {
    margin-top: 10px !important;
    font-size: 12px;
  }
}

@media (max-width: 414px) {
  .btn.btn-primary.cta {
    margin-top: 5px !important;
  }
}

@media (max-width: 375px) {
  .btn.btn-primary.cta {
    margin-top: 2px !important;
  }
}

.lane-mitch-img:hover {
  filter: brightness(20%);
  transition: 1s;
}

.zenith-img:hover {
  filter: grayscale(100%);
  transition: 2s;
}

.img-fluid.zenith-img {
  border-radius: 20px;
  border: 5px solid #fff;
}

.img-fluid.lane-mitch-img {
  border-radius: 20px;
  border: 5px solid #fff;
}

.img-fluid.lane-mitch-img {
  margin-right: 0 !important;
}

.row.text-center.d-flex.testi-row-1 img {
  padding: 0 !important;
}

@media (max-width: 768px) {
  .col.sec-5-col-2 {
    padding-left: 0 !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
}

@media (max-width: 768px) {
  .col.sec-5-col-1 {
    padding-right: 0 !important;
  }
}

.why-go-mad-h2-1 {
  visibility: hidden;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1024px) {
  .why-go-mad-h2-1 {
    padding-top: 1.5em !important;
  }
}

@media (max-width: 1366px) {
  .why-go-mad-h2-1 {
    padding-top: 3em !important;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .our-mad-wdaas {
    padding-top: 100px;
  }
}

@media (max-width: 1080px) and (min-width: 1025px) {
  .container-fluid.section-three {
    height: 1700px !important;
  }
}

@keyframes bgposition {
  0% {
    background-position-y: 0;
  }

  50% {
    background-position-y: -50px;
  }
  100% {
    background-position-y: 0px;
  }
}

.lane-img {
  background: url(../img/lane-mitchelle.png);
  background-size: cover;
  background-position: center center;
  height: 400px;
}

.zenith-img {
  background: url(../img/zenith-chiro.png);
  background-size: cover;
  background-position: center center;
  height: 400px;
}

.testi-content {
  padding: 30px 60px 30px 60px;
}
